@import "config";
@import "base";
@import "navigation";

// section {
//   padding: 2rem;
// }

.container-main {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  overflow: hidden;
  margin: 1rem;

  .heading-title {
    color: $secondary-color;
    font-size: 2rem;
  }
  .intro {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-content: justify;
    p {
      text-justify: auto;
      padding: 0 2rem;
      a {
        &:hover {
          color: $secondary-color;
          @include easeOut();
        }
      }
    }

    .heading {
      margin: 0 2rem;
      align-items: center;
      color: rgba($color: $secondary-color, $alpha: $heading-opacity);
    }

    .news-section {
      ul {
        list-style: none;
        li {
          a {
            &:hover {
              color: $secondary-color;
              @include easeOut();
            }
          }
          span {
            padding: 0.5rem;
            font-size: 0.7em;
            color: gray;
          }
        }
      }
    }

    .skills-section {
      ul {
        list-style: none;
        border: 0;
        li {
          font-size: 0.5em;
          cursor: pointer;
          background: $primary-color;
          display: inline-block;
          padding: 0.3rem 0.5rem;
          border-radius: 0.7rem;
          margin: 0;
          align-items: center;
          justify-content: center;
          &:hover {
            font-size: 0.7em;
            color: $secondary-color;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  body {
    display: flex;
    flex-direction: column;
    position: relative;

    header.container-left {
      position: relative;
      width: 100%;
      align-items: center;
    }
    main {
      position: relative;
      .container-main {
        width: 100%;
        .intro {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
